<main class="main" id="main">
  <!--=============== HEADER ===============-->
  <header class="header" id="header">
    <nav class="header__nav container">
      <a href="#" class="header__logo">مركز الأوائل</a>

      <!-- Toggle button -->
      <div class="header__action">
        <%-include("../components/langSelector.ejs") %>
        <div class="header__toggle" id="header-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </div>
    </nav>
  </header>

  <!-- When inserting your content into sections, remove the section__height class -->
  <!--=============== HOME ===============-->
  <section class="section section__height container" id="home">
    <div class="title">
      <h1 class="title__heading" id="titleProfile">Profile</h1>
    </div>
    <%- include("./main/profile.ejs", user = user)%>
  </section>

  <!--=============== Horaire ===============-->
  <section class="section section__height container" id="weekly-schedule">
    <div class="title">
      <h1 class="title__heading" id="titleSchedule">Programme Hebdomadaire</h1>
    </div>

    <%-include("./main/schedule.ejs")%>
  </section>

  <!--=============== PORTFOLIO ===============-->
  <section class="section section__height container" id="presenses">
    <div class="title">
      <h1 class="title__heading" id="titlePresenses">Presences</h1>
    </div>

    <%-include("./main/absenteeism.ejs")%>
  </section>

  <!--=============== CONTACT ===============-->
  <section class="section section__height container" id="results">
    <div class="title">
      <h1 class="title__heading" id="titleResults">Résultats des Examens</h1>
    </div>

    <%-include("./main/results.ejs")%>
  </section>
  <section class="section section__height container" id="fees">
    <div class="title">
      <h1 class="title__heading" id="titleFees">Frais Scholaire</h1>
    </div>
    <%-include("./main/fees.ejs")%>
  </section>
</main>
