<main class="main" id="main">
  <!--=============== HEADER ===============-->
  <header class="header" id="header">
    <nav class="header__nav container">
      <a href="#" class="header__logo">مركز الأوائل</a>

      <!-- Toggle button -->
      <div class="header__toggle" id="header-toggle">
        <i class="bx bx-grid-alt"></i>
      </div>
    </nav>
  </header>

  <!-- When inserting your content into sections, remove the section__height class -->
  <!--=============== HOME ===============-->
  <section class="section section__height container" id="home">
    <%- include("title.ejs", {sectionTitle : "Home"}) %> <%-
    include("./main/profile.ejs")%>
  </section>

  <!--=============== ABOUT ===============-->
  <section class="section section__height container" id="about">
    <%- include("title.ejs", {sectionTitle : "About"}) %>
  </section>

  <!--=============== PORTFOLIO ===============-->
  <section class="section section__height container" id="portfolio">
    <%- include("title.ejs", {sectionTitle : "Portfolio"}) %>
  </section>

  <!--=============== SKILLS ===============-->
  <section class="section section__height container" id="skills">
    <%- include("title.ejs", {sectionTitle : "Skills"}) %>
  </section>

  <!--=============== CONTACT ===============-->
  <section class="section section__height container" id="contact">
    <%- include("title.ejs", {sectionTitle : "contact"}) %>
  </section>
</main>
