<main class="main" id="main">
  <!--=============== HEADER ===============-->
  <header class="header" id="header">
    <nav class="header__nav container">
      <a href="#" class="header__logo">مركز الأوائل</a>

      <!-- Toggle button -->
      <div class="header__action">
        <%-include("../components/langSelector.ejs") %>
        <div class="header__toggle" id="header-toggle">
          <i class="bx bx-grid-alt"></i>
        </div>
      </div>
    </nav>
  </header>

  <!-- When inserting your content into sections, remove the section__height class -->
  <!--=============== HOME ===============-->
  <section class="section section__height container" id="home">
    <%- include("title.ejs", {sectionTitle : "Profile"}) %> <%-
    include("./main/profile.ejs", user = user)%>
  </section>

  <!--=============== ABOUT ===============-->
  <section class="section section__height container" id="weekly-schedule">
    <%- include("title.ejs", {sectionTitle : "Programme Hebdomadaire"}) %>
    <%-include("./main/schedule.ejs")%>
  </section>

  <!--=============== PORTFOLIO ===============-->
  <section class="section section__height container" id="presenses">
    <%- include("title.ejs", {sectionTitle : "Presences"}) %>
    <%-include("./main/absenteeism.ejs")%>
  </section>

  <!--=============== CONTACT ===============-->
  <section class="section section__height container" id="results">
    <%- include("title.ejs", {sectionTitle : "Résultats des Examens"}) %>
    <%-include("./main/results.ejs")%>
  </section>
  <section class="section section__height container" id="fees">
    <%- include("title.ejs", {sectionTitle : "Frais Scholaire"}) %>
    <%-include("./main/fees.ejs")%>
  </section>
</main>
