<!DOCTYPE html>
<html lang="en">
  <!-- Include header.ejs file -->
  <%-include ('header.ejs')%>
  <body>
    <!-- Dashboard container -->
    <div class="dashboard-container dashBoardRoot">
      <!-- Sidebar -->
      <%-include('components/sidebar.ejs',{user : user,admin : admin})%>
      <!-- Dashboard content section -->
      <div class="dashboard-container__content">
        <!-- Navbar section -->
        <%-include('components/navbar.ejs')%>
        <!-- Main content section -->
        <main class="dashboard-container__main">
          <%-include("main/dashboard.ejs") %>
        </main>
        <!-- Footer section -->
        <%-include("components/footer.ejs") %>
      </div>
    </div>
  </body>

  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="apiConfig.js"></script>
  <script src="langManager.js"></script>
  <script src="home.js"></script>
</html>
