<!DOCTYPE html>
<html lang="en">
  <!-- Include header.ejs file -->
  <%-include ('./components/head.ejs')%>

  <body>
    <!-- Dashboard container -->
    <div class="dashboard-container dashBoardRoot">
      <!-- Sidebar -->
      <%-include('components/sidebar.ejs',{teacher : teacher,loggedInTeacher :
      loggedInTeacher})%>
      <!-- Dashboard content section -->
      <div class="dashboard-container__content">
        <!-- Navbar section -->
        <%-include('components/navbar.ejs')%>
        <!-- Main content section -->
        <main class="dashboard-container__main">
          <%-include('main/profile.ejs',{loggedInTeacher :
          loggedInTeacher,teacher : teacher})%>
        </main>
        <!-- Footer section -->
        <%-include("../components/footer.ejs") %>
      </div>
    </div>
  </body>

  <!-- Include the jQuery library -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../apiConfig.js"></script>
  <script>
    'use strict'

    $(document).ready(function () {
      // Use the jQuery $ function to select the elements
      const main = $('.dashboard-container__main')
      const brandBox = $('.sidebar__brand')
      const userBox = $('.sidebar__user')
      const dashboard = $('.dashboard')
      const manageAbsenteeismBtn = $('.M_absenteeism')
      const manageExams = $('.manageExams')
      const sidebarToggler = $('.navbar__toggle')

      sidebarToggler.on('click', function () {
        $('.dashBoardRoot').toggleClass('sideBarHidden')
        $('.dashboard-container__sidebar').toggleClass('toggleSidebar')
      })

      // Add event listeners to the elements
      brandBox.on('click', function () {
        // Load the content of the dashboard page into the main element
        main.load('/teacher/main/profile.ejs')
      })
      manageAbsenteeismBtn.on('click', function () {
        // Load the content of the dashboard page into the main element
        main.load('/teacher/main/manageAbsenteeism.ejs')
      })

      manageExams.on('click', function () {
        // Load the content of the dashboard page into the main element
        main.load('/teacher/main/manageExams.ejs')
      })
    })
  </script>
</html>
