<div class="editUser">
  <%- include("../spinners/spinner2.ejs")%>
  <div class="editUser__container">
    <h1 class="editUser__heading" id="editUserTitle">
      Mettre à jour le profil d'utilisateur
    </h1>
    <div class="editUser__content">
      <form class="form">
        <div class="form__box-img">
          <figure>
            <img
              src="profile.png"
              alt="user image"
              class="form__box-img--img"
            />
            <figcaption class="form__box-img--caption">🖋️</figcaption>
          </figure>
          <script>
            var FullName = `<%- admin.FullName %>`
            var name = FullName.split(' ')[0]
            var surname = FullName.split(' ')[1]
            var userId = `<%- loggedInUser._id %>`
            var adminId = `<%- admin._id %>`
            var loggedInUser = JSON.parse(`<%- JSON.stringify(loggedInUser) %>`)

            document.getElementById('name').value = name
            document.getElementById('surname').value = surname
          </script>

          <span class="form__box-img--name"><%- admin.FullName %></span>
          <span class="form__box-img--email"><%- admin.Email %></span>
          <input type="file" class="form__box-img--file" id="file" />
          <label for="file" class="form__box-img--btn" id="editUserImg"
            >Modifier L'image</label
          >
        </div>
        <div class="form__box-info">
          <h3 class="form__box-info--heading" id="editUserSubtitle">
            Modifier le profil
          </h3>
          <div class="form__box-info--group">
            <input
              type="text"
              name="name"
              id="name"
              class="form__box-info--input"
              placeholder="Nom"
              required
            />
          </div>
          <div class="form__box-info--group">
            <input
              type="text"
              name="surname"
              id="surname"
              class="form__box-info--input"
              placeholder="Prénom"
              required
            />
          </div>
          <div class="form__box-info--group">
            <input
              type="email"
              name="email"
              id="email"
              class="form__box-info--input"
              value="<%- admin.Email %>"
              required
            />
          </div>
          <div class="form__box-info--group">
            <input
              type="phone"
              name="phone"
              id="phone"
              class="form__box-info--input"
              value="<%- admin.Telephone %>"
              required
            />
          </div>
          <div class="form__box-info--group">
            <label
              for="role"
              class="form__box-info--label"
              id="editUserUserNamelabel"
              >Nom d'Utilisateur</label
            >
            <input
              type="text"
              name="userName"
              id="userName"
              class="form__box-info--input"
              value="<%- loggedInUser.username %>"
              required
            />
          </div>
          <div class="form__box-info--group">
            <label for="role" class="form__box-info--label" id="editUserRole"
              >Rôle</label
            >
            <select name="role" id="role" class="form__box-info--input">
              <option value="admin" id="editUserAdminLabel">Admin</option>
              <option value="user" id="editUserUserLabel">Utilisateur</option>
            </select>
          </div>

          <button class="form__box-info--btn" id="editUserSubmitBtn">
            Mettre à jour"
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!--script-->
<script src="apiConfig.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  ;(function () {
    const profileImage = document.querySelector('.form__box-img--img')
    const editImage = document.querySelector('.form__box-img--caption')
    const editImageInput = document.querySelector('#file')
    const updateForm = document.querySelector('.form')
    let imageFile
    const urlAdmin = window.API_URLS.apiUrl + 'updateAdmin/' + adminId
    const urlUser = window.API_URLS.apiUrl + 'updateUser/' + userId
    const spinner = document.querySelector('#spinner2')

    // Event listener for form submission
    updateForm.addEventListener('submit', async (e) => {
      e.preventDefault()
      spinner.classList.remove('spinner2__hide')
      const dataAdmin = {
        FullName: updateForm.name.value + ' ' + updateForm.surname.value,
        Email: updateForm.email.value,
        Telephone: updateForm.phone.value,
        Role: updateForm.role.value,
      }

      const dataUser = {
        username: updateForm.userName.value,
      }

      if (imageFile) {
        const base64 = await codeImageToBase64(imageFile)
        dataUser.profileImage = base64
        dataUser.profileImageType = imageFile.type
      }

      const commonHeaders = {
        'Content-Type': 'application/json',
      }

      let adminUpdated = false
      let userUpdated = false

      try {
        const resAdmin = await fetch(urlAdmin, {
          method: 'PATCH',
          headers: commonHeaders,
          body: JSON.stringify(dataAdmin),
        })
        adminUpdated = resAdmin.ok
      } catch (err) {
        console.log('Error updating admin:', err)
      }

      try {
        const resUser = await fetch(urlUser, {
          method: 'PATCH',
          headers: commonHeaders,
          body: JSON.stringify(dataUser),
        })
        userUpdated = resUser.ok
      } catch (err) {
        console.log('Error updating user:', err)
      }

      if (adminUpdated && userUpdated) {
        spinner.classList.add('spinner2__hide')
        alert('User updated successfully')
        location.reload()
      }
    })

    // Event listener for clicking the image caption
    editImage.addEventListener('click', () => {
      editImageInput.click()
    })

    // Event listener for image selection
    editImageInput.addEventListener('change', (e) => {
      imageFile = e.target.files[0]
      const reader = new FileReader()
      reader.onload = () => {
        profileImage.src = reader.result
      }
      reader.readAsDataURL(imageFile)
    })

    // Utility function to convert image to base64
    const codeImageToBase64 = (file) => {
      return new Promise((resolve, reject) => {
        const reader = new FileReader()

        reader.onload = () => {
          const base64EncodedData = reader.result.split(',')[1]
          resolve(base64EncodedData)
        }

        reader.onerror = (error) => {
          reject(error)
        }

        reader.readAsDataURL(file)
      })
    }

    // Display profile image if available

    if (loggedInUser.profileImage) {
      profileImage.src = `data:${loggedInUser.profileImageType};base64,${loggedInUser.profileImage}`
    }
  })()
</script>
<script type="module" src="editUser.js"></script>
