<div class="profile">
  <div class="profile__info">
    <figure class="profile__img-box">
      <img src="../profile.png" alt="user image" class="profile__img" />
      <!--<figcaption class="profile__img-caption"></figcaption>-->
    </figure>
    <div class="profile__info-box">
      <div class="profile__row">
        <span class="profile__label">Matricule:</span>
        <span class="profile__value"><%= loggedInUser.serial_number %></span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Nom Complet:</span>
        <span class="profile__value"><%= loggedInUser.fullName %></span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Téléphone:</span>
        <span class="profile__value"
          ><%= loggedInUser.contact_info.phone %></span
        >
      </div>
      <div class="profile__row">
        <span class="profile__label">E-mail:</span>
        <span class="profile__value" id="email"
          ><%= loggedInUser.contact_info.email %></span
        >
      </div>
      <div class="profile__row">
        <span class="profile__label">Date de Naissance:</span>
        <span class="profile__value"><%= loggedInUser.dateOfBirth %></span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Gendre:</span>
        <span class="profile__value"><%= loggedInUser.gender %></span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Classe:</span>
        <span class="profile__value"><%= loggedInUser.class %></span>
      </div>
      <div class="profile__divider"></div>
      <h3 class="profile__subheading">Information du Parent</h3>
      <div class="profile__row">
        <span class="profile__label">Nom du Parent:</span>
        <span class="profile__value"><%= loggedInUser.parent.fullName %></span>
      </div>
      <div class="profile__row">
        <span class="profile__label">Profession du Parent:</span>
        <span class="profile__value"
          ><%= loggedInUser.parent.profession %></span
        >
      </div>
      <div class="profile__row">
        <span class="profile__label">Téléphone du Parent:</span>
        <span class="profile__value"
          ><%= loggedInUser.parent.contact_info.phone %></span
        >
      </div>
      <div class="profile__row">
        <span class="profile__label">Adresse du Parent:</span>
        <span class="profile__value"
          ><%= loggedInUser.contact_info.address %></span
        >
      </div>
    </div>
  </div>

  <div class="profile__side">
    <figure class="profile__announcements">
      <img src="../logo.png" alt="user image" class="profile__logo" />
      <figcaption class="profile__img-caption"></figcaption>
    </figure>
    <div class="profile__announcements">
      <div class="school-contact">
        <h3 class="subheading info">Coordonnées de l'École</h3>
        <div class="row">
          <span class="label">Nom de l'École:</span>
          <span class="value">École ABC</span>
        </div>
        <div class="row">
          <span class="label">Adresse:</span>
          <span class="value">123 Rue de l'École, Ville</span>
        </div>
        <div class="row">
          <span class="label">Téléphone de l'École:</span>
          <span class="value">555-123-4567</span>
        </div>
      </div>
    </div>

    <div class="profile__announcements">
      <div class="school-contact">
        <h3 class="subheading info">Annonces</h3>
        <div class="row">
          <span class="label">Annonce 1:</span>
          <span class="value"
            >Nouvel événement : Description de l'événement</span
          >
        </div>
        <div class="row">
          <span class="label">Annonce 2:</span>
          <span class="value"
            >Information importante : Description de l'information</span
          >
        </div>
        <!-- Ajoutez plus d'annonces comme vous le souhaitez -->
      </div>
    </div>

    <div class="profile__announcements">
      <div class="school-contact">
        <h3 class="subheading info">Événements à Venir</h3>
        <div class="row">
          <span class="label">Événement 1:</span>
          <span class="value">Pique-nique communautaire - Date : 20 août</span>
        </div>
        <div class="row">
          <span class="label">Événement 2:</span>
          <span class="value">Foire scientifique - Date : 5 septembre</span>
        </div>
        <!-- Ajoutez plus d'événements à venir comme vous le souhaitez -->
      </div>
    </div>
  </div>
</div>
